.hero-home {
  height: 700px;
  background-image: url('../assets/herohome.png');
  background-size: cover;
  background-position: center;
  // position: relative;  para versão mobile atrabalha

  @include respond(phone) {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 800px;
    background-image: url('../assets/bg-mobile.svg');
  }

  &__content-header {
    padding-top: 9rem;
    text-align: left;
    font-family: 'IBM Plex Sans';
    color: #f7f7f7;
  }

  &__text-box {
    font-size: 6.2rem;
    line-height: 68px;
    width: 519px;
    height: 149px;

    letter-spacing: 0px;
    opacity: 1;

    font-weight: bold;
    font-style: normal;
    @include respond(phone) {
      width: 320px;
      height: 91px;
      margin: 0 auto;
      font-size: 3.8rem;
      line-height: 4.2rem;
    }
  }
  &__text-box-2 {
    font-size: 3rem;
    line-height: 4.2rem;
    width: 419px;
    height: 89px;

    letter-spacing: 0px;
    opacity: 1;

    font-weight: bold;
    font-style: normal;
    @include respond(phone) {
      width: 320px;
      height: 60px;
      margin: 0 auto;
      font-size: 2.4rem;
      line-height: 2.8rem;
      padding-top: 1rem;
    }
  }
  &__paragraph {
    width: 503px;
    height: 51px;
    margin-top: 2.5rem;
    text-align: left;
    letter-spacing: 0px;
    color: #f7f7f7;
    opacity: 1;
    @include respond(phone) {
      width: 320px;
      margin: 0 auto;
      margin-top: 4rem;
    }

    &-text {
      font-size: 1.8rem;
      line-height: 30px;
      letter-spacing: 0px;
      font-weight: normal;
      font-style: normal;
      @include respond(phone) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    &-text-2 {
    }
  }
  &__button-faleConosco {
    margin-top: 30px;
    font-family: 'IBM Plex Sans medium';
    a {
      font-size: 1.8rem;
      line-height: 4.2rem;
      padding: 10px 30px 10px 30px;
      text-align: center;
      color: #ffffff;
      background: #4ebbc5 0% 0% no-repeat padding-box;
      border: 1px solid #4ebbc5;
      border-radius: 5px;
      opacity: 1;
      text-transform: uppercase;
      &:hover {
        background-color: #104288;
        transform: translateX(0.5rem);
        padding: 10px 40px 10px 40px;
        box-shadow: 0 1rem 2rem rgba(#161616, 0.2);
        transition-duration: 0.5s;
      }
    }
  }
}

.dobra-2 {
  @media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
      max-width: 1200px !important;
    }
  }
  padding-top: 9rem;
  padding-bottom: 8rem;
  font-family: 'IBM Plex Sans';
  background: #a6aed819 0% 0% no-repeat padding-box;
  &__title {
    color: #0157a5;
    line-height: 4.8rem;
    font-size: 3.2rem;
    font-weight: bold;
    font-style: normal;
  }
  &__paragraph {
    margin: 0 auto;
    width: 691px;

    @include respond(phone) {
      width: 320px;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    &-text {
      letter-spacing: 0px;
      color: #5467ae;
      opacity: 1;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: normal;
      font-style: normal;
    }
  }

  &__cards {
    font-family: 'IBM Plex Sans';
    width: 280px;
    height: 342px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #1037861a;
    border-radius: 5px;
    margin: 0 auto;
    padding: 2rem;

    @include respond(phone) {
      margin-bottom: 3rem !important;
    }

    &-head {
      float: left;
      &-simbol {
        margin-top: 0.5rem;
        margin-right: 0.6rem;
        float: left;
        width: 16px;
        height: 16px;
        background-image: url('../assets/seta2.PNG');
        background-size: cover;
        background-position: center;
      }

      &-title {
        float: left;
        width: 150px;
        height: 55px;
        font-size: 2.2rem;
        line-height: 2.6rem;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0px;
        color: #5467ae;
      }
    }

    &-text {
      width: 240px;
      height: 227px;
      padding-top: 2rem;
      font-family: 'IBM Plex Sans';
      text-align: left;
      font-size: 1.6rem;
      line-height: 2.3rem;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0px;
      color: #5467ae;

      clear: both;
    }
  }

  &__aligncenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    margin-top: 5rem;
    font-family: 'IBM Plex Sans medium';
    a {
      font-size: 1.8rem;
      line-height: 4.2rem;
      padding: 10px 30px 10px 30px;
      text-align: center;
      color: #ffffff;
      background: #4ebbc5 0% 0% no-repeat padding-box;
      border: 1px solid #4ebbc5;
      border-radius: 5px;
      opacity: 1;
      text-transform: uppercase;
      &:hover {
        color: #4ebbc5;
        background-color: #a6aed819;
        transform: translateX(0.5rem);
        padding: 10px 40px 10px 40px;
        box-shadow: 0 1rem 2rem rgba(#161616, 0.2);
        transition-duration: 0.5s;
      }
    }
  }
}

.dobra-3 {
  padding-top: 9rem;
  padding-bottom: 8rem;
  @include respond(phone) {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
  font-family: 'IBM Plex Sans';
  background: #ffffff 0% 0% no-repeat padding-box;

  &__title {
    text-align: center;
    color: #0157a5;
    line-height: 4.8rem;
    font-size: 3.2rem;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 1.5rem;
  }
  &__paragraph {
    text-align: center;
    letter-spacing: 0px;
    color: #5467ae;
    opacity: 1;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 4rem;
  }

  &__painel {
    width: 740px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    @include respond(phone) {
      width: 485px;
      height: 350px;
      // display: flex;
      // flex-wrap: nowrap;
      // width: 100%;
      // justify-content:center;
      // flex-direction: column;
      // align-items: center;
    }

    &-itensCenter {
      margin: 0 auto;
      display: flex;
      flex: wrap;
      @include respond(phone) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.dobra-4 {
  margin-top: 8rem;
  position: relative;

  &__center {
    @include respond(phone) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  &__title {
    padding-top: 8rem;
    text-align: left;
    font-family: 'IBM Plex Sans';
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0px;
    color: #f7f7f7;
    @include respond(phone) {
      text-align: center;
    }
  }
  &__paragraph {
    width: 557px;
    height: 20px;
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #f7f7f7;
    margin-bottom: 8rem;

    @include respond(phone) {
      width: 320px;
      height: 60px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 8rem;
    }
  }
  &__solucoes {
    width: 470px;
    height: 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #03297633;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex: wrap;
    flex-direction: row;
    cursor: pointer;
    @include respond(phone) {
      width: 320px;
    }

    &-empr {
      width: 42px;
      height: 42px;
      margin-right: 1.5rem;
      background: transparent url('../assets/orçamento-empresaria.svg') 0% 0%
        no-repeat padding-box;
      background-size: cover;
      @include respond(phone) {
        background-size: 90% 120%;

        margin-right: 1rem;
      }
    }
    &-civil {
      width: 42px;
      height: 42px;
      margin-right: 1.5rem;
      background: transparent url('../assets/sistema-construcao-civil.svg') 0%
        0% no-repeat padding-box;
      background-size: cover;
      @include respond(phone) {
        background-size: 90% 120%;

        margin-right: 1rem;
      }
    }
    &-gerencial {
      width: 42px;
      height: 42px;
      margin-right: 1.5rem;
      background: transparent url('../assets/sistema-informação-gerencial.svg')
        0% 0% no-repeat padding-box;

      background-size: cover;
      @include respond(phone) {
        background-size: 90% 120%;

        margin-right: 1rem;
      }
    }
    &-relatorio {
      width: 42px;
      height: 42px;
      margin-right: 1.5rem;
      background: transparent url('../assets/automatizacao-relatorio.svg') 0% 0%
        no-repeat padding-box;
      background-size: cover;
      @include respond(phone) {
        background-size: 90% 120%;

        margin-right: 1rem;
      }
    }
    &-cobranca {
      width: 42px;
      height: 42px;
      margin-right: 1.5rem;
      background: transparent url('../assets/gestao-setor-cobranca.svg') 0% 0%
        no-repeat padding-box;
      background-size: cover;
      @include respond(phone) {
        background-size: 90% 120%;

        margin-right: 1rem;
      }
    }

    &-conciliacao {
      width: 42px;
      height: 42px;
      margin-right: 1.5rem;
      background: transparent url('../assets/conciliacaobancaria.svg') 0% 0%
        no-repeat padding-box;
      background-size: cover;
      @include respond(phone) {
        background-size: 90% 120%;
        margin-right: 1rem;
      }
    }

    &-p {
      margin-top: 0.5rem;
      text-align: left;
      font-family: 'IBM Plex Sans medium';
      font-size: 2.2rem;
      line-height: 2.8rem;
      font-weight: normal;
      letter-spacing: 0px;
      color: #5467ae;

      @include respond(phone) {
        font-size: 1.6rem;
        line-height: 2.8rem;
      }
    }
  }
  &__button {
    margin-top: 5rem;
    font-family: 'IBM Plex Sans medium';
    a {
      font-size: 1.8rem;
      line-height: 4.2rem;
      padding: 10px 40px 10px 40px;
      text-align: center;
      color: #ffffff;
      background: #4ebbc5 0% 0% no-repeat padding-box;
      border: 1px solid #4ebbc5;
      border-radius: 5px;
      opacity: 1;
      text-transform: uppercase;
      &:hover {
        background-color: #5467ae;
        transform: translateX(0.5rem);
        padding: 10px 55px 10px 55px;
        box-shadow: 0 1rem 2rem rgba(#161616, 0.2);
        transition-duration: 0.5s;
      }
    }
  }

  &__bg {
    width: 100%;
    height: 967px;
    background: #5467ae 0% 0% no-repeat padding-box;

    &-image {
      position: absolute;
      top: 0;
      right: 0px;
      width: 45%;
      height: 967px;
      background: url('../assets/man.png') no-repeat center center;
      background-size: cover;
      display: block;
      @include respond(phone) {
        display: none;
      }
    }
  }
}
.dobra-5 {
  margin-top: 3rem;

  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include respond(phone) {
    height: 1150px;
    margin-bottom: 8rem;
  }

  &__clientes {
    width: 330px;
    margin-right: 6rem;

    @include respond(phone) {
      margin-right: 0rem;
    }
    &-title {
      text-align: left;
      font-family: 'IBM Plex Sans';
      font-size: 3.2rem;
      line-height: 4.8rem;
      font-weight: bold;
      font-style: normal;
      letter-spacing: 0px;
      color: #0157a5;
      @include respond(phone) {
        text-align: center;
      }
    }
    &-paragraph {
      text-align: left;
      font-family: 'IBM Plex Sans';
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0px;
      color: #0157a5;
      margin-bottom: 8rem;
      @include respond(phone) {
        max-width: 320px;
        margin-bottom: 1rem;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  &__painel {
    width: 823px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px 100px;
    grid-gap: 20px;
    grid-auto-flow: dense;

    &-2 {
      grid-gap: 25px;
    }

    .w-1 {
      grid-column: span 1;
    }
    .w-2 {
      grid-column: span 2;
    }
    .w-3 {
      grid-column: span 3;
    }
    .w-4 {
      grid-column: span 4;
    }
    .w-5 {
      grid-column: span 5;
    }
    .w-6 {
      grid-column: span 6;
    }

    .h-1 {
      grid-row: span 1;
    }
    .h-2 {
      grid-row: span 2;
    }
    .h-3 {
      grid-row: span 3;
    }
    .h-4 {
      grid-row: span 4;
    }
    .h-5 {
      grid-row: span 5;
    }
    .h-6 {
      grid-row: span 6;
    }

    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      height: auto;
    }

    &-AppPonto {
      width: 175px;
      height: 41px;
      background-image: url('../assets/Apponto.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 70% 70%;
        background-repeat: no-repeat;
      }
    }
    &-Inter {
      width: 150px;
      height: 50px;
      background-image: url('../assets/Banco Inter.png');
      background-size: cover;
      background-position: top;
      justify-self: center;

      align-self: center;
      @include respond(phone) {
        background-size: 70% 70%;
        background-repeat: no-repeat;
      }
    }
    &-Carapreta {
      width: 175px;
      height: 45px;
      background-image: url('../assets/Cara Preta.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 70% 70%;
        background-repeat: no-repeat;
      }
    }
    &-Cea {
      width: 145px;
      height: 145px;
      background-image: url('../assets/Construtora C&A.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }
    &-Cyrela {
      width: 174px;
      height: 41px;
      background-image: url('../assets/Cyrela.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 70% 70%;
        background-repeat: no-repeat;
      }
    }

    &-Direional {
      width: 175px;
      height: 22px;
      background-image: url('../assets/direcional_rgb.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      margin-right: 2rem;
      justify-self: center;
      @include respond(phone) {
        background-size: 70% 70%;
        background-repeat: no-repeat;
      }
    }
    &-Fricasa {
      width: 131px;
      height: 56px;
      background-image: url('../assets/Fricasa.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }
    &-Indigo {
      width: 164px;
      height: 54px;
      background-image: url('../assets/INDIGO.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }
    &-JcContijo {
      width: 140px;
      height: 93px;
      background-image: url('../assets/JC Gontijo.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }
    &-Mrv {
      width: 141px;
      height: 39px;
      background-image: url('../assets/MRV.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-Patrimar {
      width: 174px;
      height: 46px;
      background-image: url('../assets/Patrimar.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;

      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }
    &-Pif-Paf {
      width: 110px;
      height: 70px;
      background-image: url('../assets/PifPaf.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }
    &-Plano {
      width: 190px;
      height: 51px;
      background-image: url('../assets/Plano&Plano.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }
    &-Plena {
      width: 140px;
      height: 82px;
      background-image: url('../assets/Plena Alimentos.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }

    &-Precon {
      width: 171px;
      height: 57px;
      background-image: url('../assets/Precon.png');
      background-size: cover;
      background-position: center;
      justify-self: center;
      align-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }

    &-Tial {
      width: 119px;
      height: 51px;
      background-image: url('../assets/Tial.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
      }
    }
    // painel 2
    &-bild {
      width: 105px;
      height: 65px;
      background-image: url('../assets/novos-clientes/Bild.png');
      background-size: cover;
      background-position: center;
      // margin-right: 3.5rem;
      // margin-top: -1.5rem;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-cury {
      width: 176px;
      height: 64px;
      background-image: url('../assets/novos-clientes/Cury.png');
      background-size: cover;
      background-position: center;
      // margin-top: -1.5rem;
      // margin-right: 3rem;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-eztec {
      width: 140px;
      height: 47px;
      background-image: url('../assets/novos-clientes/EZTec.png');
      background-size: cover;
      background-position: center;
      // margin-top: -1.5rem;
      // margin-right: 3rem;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-inter-construtora {
      width: 122px;
      height: 69px;
      background-image: url('../assets/novos-clientes/Inter\ Construtora.png');
      background-size: cover;
      background-position: center;
      // margin-top: -3rem;
      // margin-right: 3rem;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-minasMaquinas {
      width: 118px;
      height: 78px;
      background-image: url('../assets/novos-clientes/minas-maquinas.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      // margin-top: -2rem;
      // margin-right: 3rem;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-novoLar {
      width: 175px;
      height: 48px;
      background-image: url('../assets/novos-clientes/Novolar.png');
      background-size: cover;
      background-position: center;
      // margin-top: 0rem;
      // margin-right: 3.5rem;
      align-self: center;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-souzaRocha {
      width: 143px;
      height: 79px;
      background-image: url('../assets/novos-clientes/SouzaRocha.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      margin-top: -2.5rem;
      // margin-right: 3rem;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-tenco {
      width: 116px;
      height: 84px;
      background-image: url('../assets/novos-clientes/Tenco.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      // margin-top: -1.5rem;
      justify-self: center;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-Tiscoski {
      width: 175px;
      height: 37px;
      margin-right: 3rem;
      background-image: url('../assets/novos-clientes/Tiscoski.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      // margin-right: 3rem;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-viaSul {
      width: 151px;
      height: 45px;
      background-image: url('../assets/novos-clientes/ViaSul.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      // margin-right: 3rem;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
    &-viewCo {
      width: 167px;
      height: 30px;
      background-image: url('../assets/novos-clientes/ViewCo.png');
      background-size: cover;
      background-position: center;
      align-self: center;
      justify-self: center;
      // margin-top: 0rem;
      // margin-right: 3rem;
      @include respond(phone) {
        background-size: 80% 80%;
        background-repeat: no-repeat;
        margin-right: 0px;
      }
    }
  }
}

.dobra-cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bg {
    width: 100%;
    height: 451px;
    background: transparent url('../assets/dobra-cta.png') 0% 0% no-repeat;
    background-size: cover;

    @include respond(phone) {

      background: transparent url('../assets/dobra-cta-mobile.png') 0% 0%
        no-repeat;
      background-size: cover;
    }
  }

  &__content {
    padding-top: 10rem;
    width: 554px;
    height: 62px;
    margin: 0 auto;
    @include respond(phone) {
      width: 320px;
    }
  }
  &__title {
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-size: 4.2rem;
    line-height: 4.8rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0px;
    color: #ffffff;
    @include respond(phone) {
      font-size: 2.8rem;
      line-height: 3.2rem;
    }
  }
  &__paragraph {
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #ffffff;
  }

  &__button {
    margin-top: 4rem;
    font-family: 'IBM Plex Sans medium';
    a {
      font-size: 1.8rem;
      line-height: 4.2rem;
      padding: 10px 30px 10px 30px;
      text-align: center;
      color: #5467ae;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #ffffff;
      border-radius: 5px;
      opacity: 1;
      text-transform: uppercase;
      &:hover {
        color: #ffffff;
        background-color: transparent;
        transform: translateX(0.5rem);
        padding: 10px 40px 10px 40px;
        box-shadow: 0 1rem 2rem rgba(#161616, 0.2);
        transition-duration: 0.5s;
      }
    }
  }
}
.none {
  display: none !important;
}
