.navbar {
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.navbar > .navbar-header {
  display: inline;
  cursor: pointer;
}

.nav-contato {
  a {
    color: red !important;
  }
}

.navbar > .navbar-header > .navbar-title {
  display: inline-block;
  padding: 15px 15px 15px 15px;
}

.navbar > .navbar-btn {
  display: none;
}
.button-contato {
  width: 100px;
  height: 40px;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #4ebbc5;
  border-radius: 5px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-left: 7px;
  a {
    color: #4ebbc5;
  }

  &:hover {
    background-color: #4ebbc5;
    a {
      color: #ffffff !important;
    }
  }
}
.navbar > .navbar-links {
  display: inline;
  float: right;
  font-size: 16px;
  font-family: 'IBM Plex Sans';
  opacity: 1;
  font-weight: normal;
  font-style: normal;
  color: #5467ae;
}

.navbar > .navbar-links > a {
  display: inline-block;
  padding: 13px 15px 13px 15px;
  text-decoration: none;
  color: #5467ae;
  text-align: left;
  letter-spacing: 0px;
}
.navbar > .navbar-links .nav-contato > a {
  color: #4ebbc5 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar > .navbar-links > a:hover {
  background-color: #4ebbc5;
  border-radius: 3px;
  color: #fff !important;
}

.navbar > #navbar-check {
  display: none;
}

@media (max-width: 800px) {
  .container{
    width: 100%!important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .button-contato {
    width: 100%;
    height: 40px;
    margin-left: -2px;
    a {
      font-size: 2rem;
      line-height: 3.2rem;
    }
  }
  .navbar > .navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .navbar-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navbar > .navbar-btn > label:hover,
  .navbar #navbar-check:checked ~ .navbar-btn > label {
    background-color: #ffff;
  }
  .navbar > .navbar-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #4ebbc5;
  }
  .navbar > .navbar-links {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #104288;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .navbar > .navbar-links > a {
    text-align: center;
    font-size: 2rem;
    line-height: 3.2rem;
    display: block;
    width: 100%;
    color: #fff;
  }
  .navbar > #navbar-check:not(:checked) ~ .navbar-links {
    height: 0px;
  }
  .navbar > #navbar-check:checked ~ .navbar-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.log-nav {
  width: 122px;
  height: 50px;
  background: transparent url('../assets/logo-vp6.svg') 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
