.sol-page {
  width: 100%;
  font-family: 'IBM Plex Sans';
  color: #ffffff;
  &__bg {
    padding-top: 12rem;

    padding-bottom: 12rem;

    background-image: url('../assets/solucoes-bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  &__content {
    width: 798px;
    margin: 0 auto;
  }
  &__header {
    text-align: center;
    font-size: 4.2rem;
    line-height: 4.8rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0px;
  }
  &__paragraph {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
  }
  &__button {
    margin-top: 4rem;
    width: 205px;
    height: 50px;
    text-align: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ffffff;
    border-radius: 5px;
    opacity: 1;
    font-family: 'IBM Plex Sans medium';
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 4.2rem;
    color: #5467ae;
  }
  &__mercados {
    padding-top: 15rem;
    padding-bottom: 15rem;
    width: 100%;
    background: #a6aed81a 0% 0% no-repeat padding-box;
    color: #0157a5;

    &__columns {
      width: 490px;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      align-items: left;
    }
    .space {
      margin-right: 6rem;
    }
    ul {
      font-family: 'IBM Plex Sans medium';
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #5467ae;
    }
    li.circle {
      padding: 0.8rem;
      list-style: disc;
    }

    &__header {
      text-align: left;
      font-size: 3.2rem;
      line-height: 4.8rem;
      font-weight: bold;
      font-style: normal;
      letter-spacing: 0px;
    }
    &__paragraph {
      margin-top: 2rem;
      width: 498px;
      text-align: left;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0px;
    }
    &__button {
      margin-top: 20px;
      color: #ffffff;
      letter-spacing: 0px;
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 4.2rem;
      width: 205px;
      height: 50px;
      background: #4ebbc5 0% 0% no-repeat padding-box;
      border: 1px solid #4ebbc5;
      border-radius: 5px;
      opacity: 1;
      font-family: 'IBM Plex Sans medium';
      &:hover {
        background-color: #104288;
        transform: translateX(0.5rem) scaleX(1.03);
        box-shadow: 0 1rem 2rem rgba(#161616, 0.2);
        transition-duration: 0.5s;
      }
    }
    &__card {
      padding-left: 3rem;
    }

    &__bg {
      position: relative;
      width: 486px;
      height: 396px;
      background-image: url('../assets/dobra-mercado-solucoes.png');
      background-size: 95% 95%;
      background-repeat: no-repeat;
      background-position: right;
    }
    &__card-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 112px;
      height: 112px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 20px #1037861a;
      border-radius: 10px;
      opacity: 1;
      position: absolute;
      top: -5rem;
      right: 2rem;

      &-almoco {
        width: 71px;
        height: 75px;
        background-image: url('../assets/almoco-roxo.svg');
        background-size: cover;
        background-position: center;
      }
    }
    &__card-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 112px;
      height: 112px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 20px #1037861a;
      border-radius: 10px;
      opacity: 1;
      position: absolute;
      top: 4rem;
      left: -1.5rem;

      &-construcao {
        width: 71px;
        height: 75px;
        background-image: url('../assets/construcao-roxo.svg');
        background-size: cover;
        background-position: center;
      }
    }
    &__card-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 112px;
      height: 112px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 20px #1037861a;
      border-radius: 10px;
      opacity: 1;
      position: absolute;
      left: 6rem;
      bottom: -4rem;

      &-carro {
        width: 71px;
        height: 75px;
        background-image: url('../assets/carro-roxo.svg');
        background-size: cover;
        background-position: center;
      }
    }
    &__card-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 112px;
      height: 112px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 20px #1037861a;
      border-radius: 10px;
      opacity: 1;
      position: absolute;
      bottom: 4rem;
      right: -4rem;

      &-banco {
        width: 71px;
        height: 75px;
        background-image: url('../assets/banco.svg');
        background-size: cover;
        background-position: center;
      }
    }
  }
  &__solucoes {
    width: 100%;

    padding-top: 9rem;
    padding-bottom: 9rem;
    background: #fafafa 0% 0% no-repeat padding-box;

    align-items: center;
    &__header {
      text-align: center;
      font-size: 3.2rem;
      line-height: 4.8rem;
      font-weight: bold;
      font-style: normal;
      letter-spacing: 0px;
      color: #0157a5;
    }
    &__paragraph {
      margin-top: 1rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0px;
      color: #5467ae;
    }
    &__content {
      width: 792px;
      height: 585px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-bottom: 6rem;
    }
    &__card {
      position: relative;
      margin-top: 1rem;
      margin-right: 7rem;
      width: 210px;
      height: 254px;
      border: 1px solid #a6aed8;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &__button {
        width: 157px;
        height: 37px;
        background: #4ebbc5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        text-align: center;
        font-family: 'IBM Plex Sans medium';
        font-size: 1.8rem;
        line-height: 2.8rem;
        letter-spacing: 0px;
        color: #ffffff;
        position: absolute;
        bottom:-1rem;
        left: 2.4rem;
        border:none;
        display: none;

      }

      &:hover {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 20px #a6aed81a;
        border-radius: 10px;

        .sol-page__solucoes__card__button{
          display: block !important;
        }
      }

      &__remove-margin {
        margin-right: 0px !important;
      }

      &-money {
        width: 76px;
        height: 76px;
        background-image: url('../assets/sol-money.svg');
        background-size: cover;
        background-position: center;
      }
      &-construcao {
        width: 80px;
        height: 76px;
        background-image: url('../assets/contrucao-rosa.svg');
        background-size: cover;
        background-position: center;
      }
      &-gerencial {
        width: 76px;
        height: 73px;
        background-image: url('../assets/gerencial-rosa.svg');
        background-size: cover;
        background-position: center;
      }

      &-automatizacao {
        width: 75px;
        height: 75px;
        background-image: url('../assets/automatizacao-rosa.svg');
        background-size: cover;
        background-position: center;
      }

      &-cobranca {
        width: 76px;
        height: 76px;
        background-image: url('../assets/cobranca-rosa.svg');
        background-size: cover;
        background-position: center;
      }
      &-bancaria {
        width: 76px;
        height: 76px;
        background-image: url('../assets/bancaria-rosa.svg');
        background-size: cover;
        background-position: center;
      }
      &-text {
        text-align: center;
        font-family: 'IBM Plex Sans medium';
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0px;
        color: #5467ae;
        width: 150px;
        margin-top: 2rem;
      }
    }
    &__integracoes {
      margin: 0 auto;
      width: 953px;
      height: 254px;
      background: transparent linear-gradient(90deg, #5467ae 0%, #4ebbc5 100%)
        0% 0% no-repeat padding-box;
      border-radius: 10px;
      padding: 4rem 0rem 4rem 5rem;
      font-family: 'IBM Plex Sans';
      color: #ffffff;

      &-header {
        text-align: left;
        font-family: 'IBM Plex Sans medium';
        font-weight: normal;
        font-size: 2.2rem;
        line-height: 2.8rem;
        letter-spacing: 0px;
      }
      &-paragraph {
        width: 829px;
        margin-top: 1rem;
        text-align: left;
        font-family: 'IBM Plex Sans';
        font-weight: normal;
        font-style: normal;
        font-size: 1.6rem;
        line-height: 2.48rem;
        letter-spacing: 0px;
      }
      &__row {
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: column;
        // justify-content: left;
        // align-items: left;
        padding-top: 2rem;
      }
      .remove-space {
        margin-right: 0px;
      }
      li {
        display: inline-block;
        margin-right: 8rem;
      }
      li.sap {
        margin-right: 10rem;
      }
      li.wps {
        margin-right: 11.3rem;
      }
      li.atak {
        margin-left: -1.4rem;
      }
      li::before {
        content: '•';
        color: #f7f7f7;
        margin-right: 1rem;
      }

      ul {
        list-style: none;
        font-family: 'IBM Plex Sans medium';
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #f7f7f7;
        padding-left: 0rem;
      }
    }
  }
  &__dontSoluciton {
    width: 100%;
    height: 720px;
    background: #7bb2b71a 0% 0% no-repeat padding-box;
    color: #0157a5;

    &__header {
      padding-top: 8rem;
      text-align: center;
      font-size: 3.2rem;
      line-height: 4.8rem;
      font-weight: bold;
      font-style: normal;
      letter-spacing: 0px;
    }
    &__paragraph {
      margin-top: 2rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.48rem;
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0px;
    }
    &__cards {
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 auto;
      margin-top: 4rem;

      &-card {
        margin-right: 2.2rem;
        padding-top: 2.2rem;
        width: 280px;
        height: 409px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 20px #a6aed81a;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:last-child {
          margin-right: 0rem;
        }
        &-planilha {
          width: 113px;
          height: 113px;
          background-image: url('../assets/Planilha.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &-painel {
          width: 113px;
          height: 113px;
          background-image: url('../assets/painel-dashboard.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &-graficos {
          width: 113px;
          height: 113px;
          background-image: url('../assets/graficos-painel.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &-foguete {
          width: 113px;
          height: 113px;
          background-image: url('../assets/foguete.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &-header {
          margin-top: 2rem;
          text-align: center;
          font-size: 1.8rem;
          line-height: 2.8rem;
          font-weight: 600;
          font-style: normal;
          letter-spacing: 0px;
          color: #4ebbc5;
        }
        &-paragraph {
          margin-top: 2rem;
          width: 240px;
          text-align: center;
          font-size: 1.6rem;
          line-height: 2.5rem;
          letter-spacing: 0px;
          color: #5467ae;
        }
      }
    }
  }
}

.dobra-cta-solucoes {
  display: flex;
  justify-content: center;
  align-items: center;
  &__bg {
    width: 100%;
    height: 451px;
    background: transparent url('../assets/dobra-cta.png') 0% 0% no-repeat;
    background-size: cover;
  }

  &__content {
    padding-top: 14rem;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-size: 4.2rem;
    line-height: 4.8rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0px;
    color: #ffffff;
  }
  &__paragraph {
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #ffffff;
  }

  &__button {
    margin-top: 3rem;
    width: 280px;
    height: 50px;
    text-align: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ffffff;
    border-radius: 5px;
    opacity: 1;
    font-family: 'IBM Plex Sans medium';
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 4.2rem;
    color: #5467ae;
  }
  &__modal {
    font-family: 'IBM Plex Sans';
    &__cardHeader {
      display: flex;
      flex-direction: row;
      align-items: left;
      justify-content: left;

      &-header {
        text-align: left;
        font-size: 3.2rem;
        line-height: 4.8rem;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0px;
        color: #0157a5 !important;
      }
    }
  }
}

.solucoes__modal {
  font-family: 'IBM Plex Sans';

  &__cardHeader {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    &-header {
      margin-left: 1.5rem;
      margin-top: 2rem;
      margin-bottom:3rem ;
      text-align: left;
      font-size: 3.2rem;
      line-height: 4.8rem;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 0px;
      color: #0157a5 !important;
    }
    &-paragraph {
      width: 593px;
      text-align: left;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0px;
      color: #5467ae;
    }
  }
  &__orcamentoModal {
    margin-right: -6rem;
    margin-left: 5rem;
    width: 486px;
    height: 396px;
    background-image: url('../assets/modal-orcamento.png');
    background-size: 89% 89%;
    background-repeat: no-repeat;
    background-position: top right;
  }
  &__automatizacaoModal {
    margin-right: -6rem;
    margin-left: 5rem;
    width: 486px;
    height: 396px;
    background-image: url('../assets/modal-otimizacao.png');
    background-size: 89% 89%;
    background-repeat: no-repeat;
    background-position: top right;
  }
  &__gerencialModal {
    margin-right: -6rem;
    margin-left: 1rem;
    margin-top:2.8rem;
    width: 486px;
    height: 396px;
    background-image: url('../assets/informação gerencial.PNG');
    background-size: 92% 100%;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__construcaoModal {
    margin-top:2.8rem;
    width: 1170px;
    height: 644px;
    background-image: url('../assets/modal-construcao-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__closeModal {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 31px;
    background-image: url('../assets/close-modal.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
  }
}

li.modal-li::before {
  content: '•';
  color: #4ebbc5;
  margin-right: 1rem;
}
ul.solucoes__modal__ul {
  margin-top: 2rem;
  list-style: none;
  font-family: 'IBM Plex Sans medium';
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #4ebbc5;
  padding-left: 0rem;
}
