.tec-page {
  font-family: 'IBM Plex Sans';
  color: #ffffff;
  &__bg {
    width: 100%;
    height: 640px;
    background-image: url('../assets/bg-tec.png');
    background-size: cover;
    background-position: center;

    @include respond(phone) {
      width: 100%;
      height: 618px;
      background-image: url('../assets/tecnologia-mobile/hero-tecnologia.png');
      background-size: cover;
      background-position: center;
    }
  }
  &__content {
    width: 798px;
    margin: 0 auto;

    @include respond(phone) {
      width: 320px;
    }
  }
  &__content-2 {
    width: 620px;
    margin: 0 auto;

    @include respond(phone) {
      width: 320px;
      margin: 0 auto;
    }
  }
  &__header {
    width: 798px;
    padding-top: 15rem;
    text-align: center;
    font-size: 4.2rem;
    line-height: 4.8rem;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0px;
    @include respond(phone) {
      width: 320px;
      font-size: 3.8rem;
      line-height: 4.2rem;
      text-align: left;
      padding-top: 8rem;
    }
  }
  &__paragraph {
    width: 620px;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    @include respond(phone) {
      width: 320px;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-align: left;
    }
  }
  &__button {
    margin-top: 4rem;
    font-family: 'IBM Plex Sans medium';
    a {
      font-family: 'IBM Plex Sans medium';
      font-size: 1.8rem;
      line-height: 4.2rem;
      padding: 10px 30px 10px 30px;
      text-align: center;
      color: #5467ae;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #ffffff;
      border-radius: 5px;
      opacity: 1;
      text-transform: uppercase;
      &:hover {
        color: #ffffff;
        background-color: transparent;
        transform: translateX(0.5rem);
        padding: 10px 40px 10px 40px;
        box-shadow: 0 1rem 2rem rgba(#161616, 0.2);
        transition-duration: 0.5s;
      }
    }
  }

  &__dobra-3 {
    padding-top: 12rem;
    padding-bottom: 12rem;
    @include respond(phone) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    font-family: 'IBM Plex Sans';
    background: #f7f7f7 0% 0% no-repeat padding-box;

    &__title {
      text-align: center;
      color: #0157a5;
      line-height: 4.8rem;
      font-size: 3.2rem;
      font-weight: bold;
      font-style: normal;
      margin-bottom: 1.5rem;
      @include respond(phone) {
        font-size: 2.8rem;
        line-height: 3.6rem;
      }
    }
    &__paragraph {
      width: 791px;
      text-align: center;
      letter-spacing: 0px;
      color: #5467ae;
      opacity: 1;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: normal;
      font-style: normal;
      margin-bottom: 7rem;
      @include respond(phone) {
        width: 320px;
      }
    }

    &__painel {
      width: 990px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      @include respond(phone) {
        width: 360px;
        // height: 860px;
      }

      &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 254px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #7ab1e033;
        border-radius: 10px;
        opacity: 1;
        margin-right: 3rem;
        margin-bottom: 2rem;
        @include respond(phone) {
          width: 160px;
          height: 200px;
          margin-right: 1.5rem;
          margin-bottom: 2rem;
        }

        p {
          margin-top: 1.5rem;
          text-align: center;
          color: #7ab1e0;
          line-height: 2.2rem;
          font-size: 2.8rem;
          font-family: 'IBM Plex Sans medium';
          @include respond(phone) {
            line-height: 2.8rem;
            font-size: 2.4rem;
          }
        }
      }

      &-itensCenter {
        margin: 0 auto;
        display: flex;
        flex: wrap;
      }

      &-logoPython {
        width: 150px;
        height: 150px;
        background-image: url('../assets/python.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/python.png');
        }
      }

      &-logoNode {
        width: 150px;
        height: 150px;
        background-image: url('../assets/node.png');
        background-size: cover;
        background-position: center;

        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/node.png');
        }
      }
      &-logoSql {
        width: 150px;
        height: 150px;
        background-image: url('../assets/sql.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/sql.png');
        }
      }
      &-logoAws {
        width: 150px;
        height: 150px;
        background-image: url('../assets/aws.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/aws.png');
        }
      }
      &-logoReact {
        width: 150px;
        height: 150px;
        background-image: url('../assets/react.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/react.png');
        }
      }
      &-logoAngular {
        width: 150px;
        height: 150px;
        background-image: url('../assets/angular.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/angular.png');
        }
      }
      &-logoPanda {
        width: 150px;
        height: 150px;
        background-image: url('../assets/panda.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/pandas.png');
        }
      }
      &-logoMysql {
        width: 150px;
        height: 150px;
        background-image: url('../assets/mysql.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/mysql.png');
        }
      }
      &-logoPostgres {
        width: 150px;
        height: 150px;
        background-image: url('../assets/postgres.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/postgresql.png');
        }
      }
      &-logoAzure {
        width: 150px;
        height: 150px;
        background-image: url('../assets/azure.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/azure.png');
        }
      }
      &-logoDigitalOCean {
        width: 150px;
        height: 150px;
        background-image: url('../assets/digital-ocean.png');
        background-size: cover;
        background-position: center;
        @include respond(phone) {
          width: 76px;
          height: 76px;
          background-image: url('../assets/tecnologias-mobile/DigitalOcean.png');
        }
      }
    }
  }
  &__content-cta {
    padding-top: 12rem;
    max-width: 829px;
    margin: 0 auto;
    @include respond(phone) {
      width:320px;
    }
  }
}
